.account-navigation{
    width:100%;
    box-shadow:0 0 5px rgba(0,0,0,0.25);
    height:45px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0rem 1rem;
    background:var(--green);
}
.account-navigation .profile{
    display:flex;
    justify-content:center;
    align-items:center;
}
.account-navigation .profile img{
    border:none;
    width:30px;
    margin-right:9px;
}
.account-navigation .menu-icon{
    width:40px;

}
.account-navigation .menu-icon p{
    font-size:35px;
    transition:all 0.5s;
}
.account-navigation .menu-icon p:hover{
    transform:scale(1.1);
    cursor: pointer;
}
.account-navigation .close-icon{
    width:40px;
}
.account-navigation .close-icon img{
    width:25px;
    cursor: pointer;
    transition:all 0.5s;
}
.account-navigation .close-icon img:hover{
    transform:scale(1.1);
}
.account-navigation p{
    font-size:14px;
    color:var(--white)
}
.account-navigation .profile img{
    cursor:pointer;
}
.account-navigation .profile img{
    cursor:pointer;
    transition:all 0.5s;
}
.account-navigation .profile img:hover{
    transform:scale(1.1);
}

