.account {
  position: relative;
  width: 100%;
}
.account .card table td {
  font-size: 14px;
}
.account .profile {
  top: 0;
  position: fixed;
  width: 300px;
  background: #f2f2f2;
  padding: 1rem;
  padding-top: 0;
  z-index: 9;
  left: -100%;
  height: 100vh;
  transition: all 0.5s;
  overflow-y: scroll;
}

.account .profile::-webkit-scrollbar {
  width: 5px;
}
.account .profile::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}
.account .profile::-webkit-scrollbar-track {
  background: #f2f2f2;
}

.account .profile.active {
  left: 0%;
}
.account .img-wrapper {
  background: #fff;
  margin: 0 auto;
  border-radius: 10px;
}
.account .profile .profile-description {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top:0.5rem;
}
.account .profile .profile-description span {
  font-size: 14px;
  color: var(--blue);
  font-weight: 500;
}
.account .profile .profile-description span:nth-child(1) {
  flex-basis: 35%;
}
.account .description {
  background: var(--white);
  padding: 1rem;
  margin-top:0.5rem;
  color: var(--black);
  font-size: 14px;
  border-radius: 10px;
}
.account .profile .profile-description span:nth-child(2) {
  flex-basis: 62%;
}
.account .profile-button {
  background: var(--green);
  border: none;
  width: 100%;
  padding: 0.7rem;
  color: var(--white);
  font-weight: 600;
  cursor: pointer;
  margin-top:0.5rem;
  border:2px solid var(--green);
}

.account .profile-button:hover{
  background:transparent;
  color:var(--green);
}

.account .close-icon {
  cursor: pointer;
  transition: all 0.5s;
  display: inline-block;
  color: var(--blue);
}
.account .close-icon:hover {
  transform: scale(1.1);
  color: var(--pinkRed);
}

.account .navigation-items{
  display:flex;
  justify-content:center;
  align-items: center;
}
.account .navigation-items .arrow-back{
  width:20px;
  cursor: pointer;
}
.account .books .header .menu-icon img{
  width:40px;
  cursor: pointer;
  margin-top:5px;

}
.account .books .header .menu-icon{
  margin-left:1.4rem;
}

.account .books .header .menu-icon:hover {
  transform: scale(1.1);
}


.account .books .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  padding-right: 1rem;
  padding-left: 1rem;
}
.account .books .header .medium-header {
  font-size: 1.1rem;
  margin:0rem;
}
.account .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 1rem;
  margin-top: 1rem;
}

.account .card table {
  width: 100%;
}

.account .profile-card {
  padding: 1rem;
  background: var(--white);
  margin-top:0.5rem;
  border-radius: 5px;
}
.account .uploading{
  display:flex;
  padding:1rem;
  border-radius:5px;
}

.account table thead tr td{
  color:var(--white);
  font-weight:500;
}

.account .card {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  padding: 10px;
  border-radius: 5px;
}
.account table {
  width: 100%;
}

.account .medium-header{
  font-size:1.2rem;
}



/* MODAL */

.account .terminate-account-modal{
  background:linear-gradient(rgba(0,0,0,0.95),rgba(0,0,0,0.95));
  position:fixed;
  top:0;
  left:0;
  right:0;
  height:100vh;
  z-index:99;
  display:none;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  transition:all 0.5s;
}
.account .terminate-account-modal.active{
  display:flex;
}
.account .terminate-account-modal .medium-header{
  color:var(--green);
  border-bottom:1px solid var(--green);
  text-align:center;
  font-size:1.4rem;
}
.account .terminate-account-modal .close-modal{
  position:absolute;
  font-size:2rem;
  top:3rem;
  border-radius:50%;
  height:50px;
  width:50px;
  display:flex;
  border:2px solid var(--white);
  justify-content: center;
  color:var(--white)
}
.account .terminate-account-modal .close-modal:hover{
  transform: scale(1.1);
}
.account form{
  max-width:700px;
  width:97%;
  background:#fff;
  padding:1rem;
}
.account  form .input-group{
  margin-top:0.5rem;
}
.account  form .input-group input{
  height:40px;
  padding:8px;
  background:none;
  color:var(--green);
  border:none;
  border-bottom:1px solid var(--gray);
  cursor: pointer;
  font-weight:600;
  outline:none;
}
.account  form .input-group input::placeholder{
  color:var(--gray);
}
.account  form .input-group input[type=submit]{
  background:var(--green);
  cursor: pointer;
  color:var(--white);
  transition:all 0.5s;
  border:2px solid var(--green);
}
.account  form .input-group input[type=submit]:hover{
  background:var(--blue);
  border:2px solid var(--blue);
}
.account .view-icon{
  color:var(--blue);
  cursor: pointer;
  background:var(--green);
  height:100%;
  color:var(--white);
  display:flex;
  align-items:center;
  justify-content: center;
  border-bottom:2px solid var(--blue);
  /* background:var(--black); */
}



/* MODAL */


.grid .card table {
  width: 100%;
  border-collapse: collapse;
}
.my-books {
  padding: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  margin: 1rem;
  border-radius: 5px;
}
.my-books table {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border-collapse: collapse;
}

.account table thead {
  background:#000;
  color: var(--white);
}
.account td {
  padding: 0.5rem;
}

.account table tbody tr:nth-child(even) {
  background: var(--green);
  color: var(--white);
}

.account .instructions{
  background:var(--black);
  padding:1rem;
  border-radius:5px;
}

.account .instructions p{
 color:var(--white);
}





/* PUBLISHING */

.account .publishing .file{
  color:var(--blue);
  font-weight:500;
}
.account .card.publishing{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



/*  */








@media (max-width: 594px) {
  .account .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .account .card table td {
    font-size: 12px;
  }
  .account .my-books table  td{
    font-size:12px; 
  }
  .account .medium-header{
    font-size:1rem;
  }.account .instructions p{
    font-size:12px;
  }
}

@media (max-width: 554px) {
  .my-books {
    overflow-x: scroll;
  }

  .account .my-books table  td{
    overflow-x: scroll;
    width: 628px;
    font-size:12px;
  }

  .account .my-books::-webkit-scrollbar {
    height: 8px;
  }

  .account .my-books::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }

  .account .my-books::-webkit-scrollbar-track {
    background: #f2f2f2;
  }
}
