.account{
  position:relative;
  width:100%;
}
.account .container{
  max-width:1400px;
  margin:0 auto;
}
.account .medium-header{
  margin:0;
  margin-top:45px;
  font-size:var(---mobile-font);
  text-align: center;
}
.account table{
  width:100%;
  border-collapse: collapse;
  min-width:400px;
} 
.account table thead{
  background:var(--black);
}
.account table td{
  padding:0.5rem 1rem;
}
.account table  td{
  color:var(--white)
}
.account table tbody tr:nth-child(even) {
  background: var(--green);
}
.account table tbody tr:nth-child(odd){
  background:var(--pinkRed);
}

.account table tbody tr td:nth-child(5) i{
  color:var(--white);
  cursor: pointer;
}
.account table tbody tr td:nth-child(5) i:hover{
  transform:scale(1.4);
}
.account .table_wrapper {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  overflow: scroll;
  max-height: calc(100vh - 65px);
}


.account .table_wrapper::-webkit-scrollbar {
  width: 10px; 
}

.account .table_wrapper::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 5px; 
}

.account .table_wrapper::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px; 
}

.account .table_wrapper::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Firefox */
.account .table_wrapper {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: #888 #f1f1f1; /* Thumb color and track color */
}

