.sidebar {
  width: 250px;
  height: 100vh;
  background: var(--green);
}
.sidebar .sidebar-navigation li a {
  display: flex;
  align-items: center;
  padding: 1rem;
  color: var(--white);
  transition: all 0.5s;
}
.sidebar .sidebar-navigation li a p {
  font-size: 14px;
}
.sidebar .sidebar-navigation li a p:nth-child(2) {
  margin-left: 1rem;
}
.sidebar .sidebar-navigation li a:hover {
  background: var(--white);
}
.sidebar .sidebar-navigation li a:hover p {
  color: var(--blue);
}
