.sidebar {
  width: 250px;
  height: 100vh;
  background: var(--green);
  position:fixed;
  left:-100%;
  display:block;
  transition:all 0.5s;
  border-top:2px solid var(--white);
}
.sidebar.active{
    left:0;
}
.sidebar .sidebar-navigation li a {
  display: flex;
  align-items: center;
  padding: 1rem;
  color: var(--white);
  transition: all 0.5s;
}
.sidebar .sidebar-navigation li a p {
  font-size: 14px;
}
.sidebar .sidebar-navigation li a p:nth-child(2) {
  margin-left: 1rem;
}
.sidebar .sidebar-navigation li a:hover {
  background: var(--white);
}
.sidebar .sidebar-navigation li a:hover p {
  color: var(--blue);
}

.sidebar .amount{
    display:none;
}


@media(max-width:524px){
    .sidebar{
        width:200px;
    }
}

@media(max-width:498px){
    .sidebar .amount{
        display:flex;
        padding:1rem;
        background:var(--black);
        color:var(--white)
    }
    .sidebar .section.amount p:nth-child(2){
        margin-left:10px;
        text-transform:uppercase;
    }
}