.account.withdrawal .payment-grid{
  display:grid; 
  grid-template-columns:repeat(2,1fr);
  gap:1rem;
}
.account.withdrawal .container p{
  text-align: center;
}
.account.withdrawal .payment-grid .card input{
  height:40px;
  border:none;
  border-bottom:1px solid var(--gray);
}
.account.withdrawal .payment-grid .card{
  padding:1rem;
  box-shadow:0 0 5px rgba(0,0,0,2.25);
}
.account.withdrawal .payment-grid .card input:focus{
  outline:none;
}
.account.withdrawal .payment-grid .card input{
  margin-bottom:1rem;
  border-bottom:1px solid var(--gray);
}
.account.withdrawal .payment-grid .card input[type="submit"]{
  border:none;
}

@media(max-width:660px){
  .account.withdrawal .payment-grid{
    grid-template-columns:repeat(1,1fr);
  }
}