.books {
  position:relative;
}





/* VIEW BOOK MODAL */
.books .showBookModal {
  position: fixed;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display:none;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background: #000;
  transition: all 0.5s;
}
.books .showBookModal.active {
  display:flex;
}
.books .showBookModal .container .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  background: #fff;
  padding: 1rem;
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: fit-content;
  max-height: 700px;
  overflow-y: scroll;
}
.books .showBookModal .container .row .col:nth-child(1) {
  flex-basis: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.books .showBookModal .container .row .col:nth-child(1) img {
  max-width: 300px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.books .showBookModal .container .row .col:nth-child(2) {
  flex-basis: 40%;
  text-align: start;
  padding: 1rem;
}
.books .showBookModal .container .row .col:nth-child(2) .description {
  color: var(--black);
  font-size: 1rem;
}
.books .showBookModal .hero-btn {
  display: inline-flex;
}
.books .close-item {
  color: var(--white);
  font-size: 2.4rem;
  float: right;
  padding: 5px;
  height: 30px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: red;
  cursor: pointer;
}

@media (max-width: 619px) {
  .books .showBookModal .container .row {
    grid-template-columns: repeat(1, 1fr);
    max-height: 700px;
  }
  .books .showBookModal .container .row .col:nth-child(1) img {
    max-width: 200px;
  }
}


