.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.25);
}
.card .img-wrapper {
  position: relative;
  overflow: hidden;
}
.card .img-wrapper img {
  width: 100%;
}
.card .overlay {
  position: absolute;
  top: 0;
  left: -100%;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
}

.card .overlay p:hover {
  background: var(--blue);
  color: #ff004f;
  cursor: pointer;
}

.card:hover .overlay {
  left: 0;
}

.card .overlay p {
  padding: 1rem;
  color: var(--white);
}
.card p {
  font-size: 1rem;
}
.books_list .card .shop-items-icons {
  cursor: pointer;
}

.card .overlay .overlay {
  cursor: pointer;
}
