.footer{
    margin-top:5rem;
    background:var(--green);
    padding-top:2rem;
}
.footer .container .row{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:1rem;
}
.footer .social_media{
   display:flex;
  
}
.footer .social_media li{
    width:50px;
    height:50px;
    margin:1rem;
    display:flex;
    background:var(--white);
    justify-content:center;
    align-items:center;
    text-align:center;
    border-radius:50%;
    transition:all 0.5s;
    cursor: pointer;
}
.footer .description{
    color:var(--white);
}
.footer .small-header{
    font-size:1.2rem;
}
.footer .social_media li:hover{
box-shadow:0 0 5px #ff004f,0 0 10px #ff004f,0 0 15px #ff004f;   
}
.footer .social_media li a i{
    font-size:1.4rem;
    color:var(--pinkRed)
}
.footer .company p{
    text-align:start;
}
.footer a{
    color:var(--white)
}
.footer .company a:hover{
    text-decoration:underline;
}
.footer .section-b-footer{
    display:flex;
    justify-content:space-between;
}

@media(max-width:796px){
    .footer .container .row{
       display:flex;
       flex-wrap:wrap;
       justify-content: space-between;
    }
    .footer .container .row .col:nth-child(1){
        margin-bottom:2rem;
    }
    
   
}

@media(max-width:406px){
    .footer .social_media{
        justify-content:space-between;
    }
    .footer .social_media li{
        width:40px;
        height:40px;
        margin:0.5rem;
    }
   
}