/* CSS for footer with box shadow at the top */
.footer {
    /* Other styles for the footer */
    background-color: #fff; /* Example background color */
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1); /* Box shadow with negative y-offset */
    margin-top:3rem;

  }
  
.section-b-footer{
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:var(--black);
}
.section-b-footer .description{
    color:var(--black);
}
.footer .container .social_media{
    display:flex;
    max-width:300px;
    width:100%;
    margin:0 auto;
    align-items:center;
    text-align:center;
    justify-content: center;
}
.footer .container .social_media li{
    height:50px;
    width:60px;
    display: flex;
    align-items:center;
    text-align:center;
    justify-content:center;
    margin:1rem;
    border-radius:50px;
}
.footer .container .social_media li i{
    cursor: pointer;
    transition:all 0.5s;
    color:var(--blue);
    font-size:1.5rem;
}

.footer .container .social_media li i:hover{
    transform:scale(1.2);
    color:var(--pinkRed)
}