.new-releases{
    margin-top:5rem;
}
.new-releases .small-header,
.new-releases .medium-header{
    text-align:center;
}
.book{
    padding:10px;
}

.new-releases .book .img-wrapper{
    padding:20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
}
.new-releases .book-body{
    text-align: center;
}
.new-releases .book-title{
    color:var(--blue)
}
.new-releases .book-author{
    color:var(--gray)
}
.new-releases .book-price{
    color:var(--orange)
}