.new-releases{
    margin-top:5rem;
}
.new-releases .container{
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

    padding:2rem;

    background-position:center;

    background-size:cover;

    background-attachment: fixed;


}
.new-releases .small-header,
.new-releases .medium-header{
    text-align:center;
}
.new-releases .book{
    padding:10px;
    cursor: pointer;
}
.new-releases .book-body{
    text-align: center;
}
.new-releases .book-title{
    color:var(--blue)
}
.new-releases .book-author{
    color:var(--gray)
}
.new-releases .book-price{
    color:var(--orange);
}

.new-releases .container .container-wrapper{
    width:100%;
}


@media(max-width:551px){
    .new-releases .medium-header{
        font-size:1.3rem;
    }.new-releases .small-header{
        font-size:1rem;
    }
}