.terminate-account-modal{
    background:linear-gradient(rgba(0,0,0,0.95),rgba(0,0,0,0.95));
    position:fixed;
    top:0;
    left:0;
    right:0;
    height:100vh;
    z-index:99;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    transition:all 0.5s;
  }
  .terminate-account-modal.active{
    display:flex;
  }
  .terminate-account-modal .medium-header{
    color:var(--green);
    border-bottom:1px solid var(--green);
    text-align:center;
    font-size:1.4rem;
  }
  .terminate-account-modal .close-modal{
    position:absolute;
    font-size:2rem;
    top:3rem;
    border-radius:50%;
    height:50px;
    width:50px;
    display:flex;
    border:2px solid var(--white);
    justify-content: center;
    color:var(--white)
  }
  .terminate-account-modal .close-modal:hover{
    transform: scale(1.1);
  }
  .terminate-account-modal form{
    max-width:700px;
    width:97%;
    background:#fff;
    padding:1rem;
  }
  .terminate-account-modal form textarea{
    width:100%;
    border:none;
    outline:none;
    border:1px solid var(--gray);
    padding:16px;
    margin-bottom:1rem;
  }
  .terminate-account-modal .cart-buttons{
    width:100%;
    background:var(--green);
    color:var(--white);
    font-weight:700;
    border:2px solid var(--green);
  }
  .terminate-account-modal .cart-buttons:hover{
    width:100%;
    background:var(--green);
    color:var(--white);
    font-weight:700;
    border:2px solid var(--green);
    transition:all 0.5s;
  }
  .terminate-account-modal .cart-buttons:hover{
   background:transparent;
   color:var(--green);
  }