.search_container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.search_container .input-search {
  flex-basis: 67%;
  display: flex;
  border-bottom: 1px solid var(--green);
  justify-content: space-between;
  height:40px;
  cursor: pointer;
}

.search_container .input-search input {
  flex-basis: 80%;
  outline: none;
  border: none;
  font-size: 1.2rem;
  height: 100%;
}
.search_container .input-search button {
  border: none;
  flex-basis: 15%;
  border: none;
  background: var(--green);
  color: var(--white);
  height:100%;
}
.search_container .filter-input {
  flex-basis: 30%;
}
.search_container .filter-input select {
  width: 100%;
  cursor: pointer;
  border: none;
  padding: 0.3rem 1rem;
}
.search_container .filter-input .fiter-title {
  margin: 1rem 0rem;
}


/*  */
.blog .blogs-advert {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url("https://plus.unsplash.com/premium_photo-1675039871139-06cc792da9a7?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 1rem;
  border-radius: 10px;
  color: #fff;
  margin: 2rem 0rem;
}
.blog .blogs-advert  .description{
  color:var(--black);
}





.blog-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  grid-gap:1rem;
}
.blog-grid .blog-card{
  box-shadow:0 0 5px rgba(0, 0, 0, 0.55);
  border-radius:5px;
}
.blog-grid .blog-card .cardfooter{
  display:flex;
  justify-content:space-between;
  margin-top:0.5rem;
}
.blog-grid .blog-card .small-header{
  text-transform:uppercase;
  font-size:var(--mobile-font);
}

.blog-grid .overlay{
  padding:10px;
}
.blog-grid .overlay .description{
  color:var(--black)
}
.blog-grid .overlay .card_dates{
  color:var(--blue)
}

.blog-grid .overlay .single-button-blog{
  background:var(--blue);
  padding:0.2rem 1rem;
  color:var(--white);
  border-radius:5px;
  transition:all 0.5s;
}
.blog-grid .overlay .single-button-blog:hover{
  background:var(--green);
}

@media(max-width:670px){
  .blog-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-gap:1rem;
  }
}
@media(max-width:480px){
  .blog-grid{
    display:grid;
    grid-template-columns:repeat(1,1fr);
    grid-gap:1rem;
  }
}
@media(max-width:454px){

  .search_container{
    flex-direction: column;
  }

}