
.blog-post .img-wrapper{
    margin-bottom:10px;
}
.single_blog .blog-post-body .description{
  color: var(--black);
  font-size:1rem;
  font-family:var(--poppins);
}
.single_blog .blog-post-body .date{
    color:var(--orange)
}

.single_blog .blog-post-body .description-body{
    display:grid;
    grid-template-columns:repeat(2,1fr);
}

.single_blog .blog-post-body .description-body .description{
    padding:1rem;
    border-right:1px solid var(--gray);
}


@media(max-width:451px){

    .single_blog .blog-post-body .description-body{
        display:grid;
        grid-template-columns:repeat(1,1fr);
    }
    .single_blog .blog-post-body .description-body .description{
        padding:1rem;
        border-right:none;
        border-bottom:1px solid var(--gray);
    }

}



@media(max-width:828px){

    .single_blog .grid{
        grid-template-columns:repeat(2,1fr);
    }


}
@media(max-width:556px){

    .single_blog .grid{
        grid-template-columns:repeat(1,1fr);
    }


}