.single_blog .container .blog-post .small-header{
    text-align: center;
}
.single_blog .blog-post{
    padding:1rem;
    margin-bottom:2rem;
    box-shadow:0 0 5px rgba(0,0,0,0.25);
    margin-top:2rem;
    border-radius:5px;
}
.single_blog .blog-post img{
    margin:1rem 0rem;
}
.single_blog .date{
    color:var(--blue);


    font-weight:600;

}
.single_blog .description{
    color:var(--black);
    line-height:1.6rem;
}