.admin.blog .table_wrapper {
    overflow: scroll;
    max-height: calc(100vh - 80px);
    border-top:2px solid var(--green);
}
.admin.blog .table_wrapper td{
    font-size:0.8rem;
    font-weight:500;
}
.admin.blog .error{
    color:var(--pinkRed);
    position:absolute;
    left:0;
    bottom:0;
}
.admin.blog .custom-modal.delete{
    display:flex;
}
.admin.blog .custom-modal.edit{
    display:flex;
}
.admin.blog .small-header{
    color:var(--black);
}
.admin .input-group{
   position: relative; 
   padding-bottom:1.5rem;
}
.admin .input-group input[type=text]{
    border:none;
    border-bottom:1px solid var(--gray);
    padding-bottom:10px;
    outline:none;
}
.admin.blog .image-preview{
    margin-bottom:1rem;
    cursor: pointer;
    overflow: hidden;
}
.admin.blog .image-preview img:hover{
    transform:scale(1.1);
}
@media(max-width:904px){
    .admin.blog .row{
        flex-direction: column;
    }
    .admin.blog .row form{
        width:100%;
    }
    .admin .row .books_list{
        width:100%;
    }
}
