.admin.users .custom-modal {
  display: none;
}
.admin.users .custom-modal.update {
  display: flex;
}
.admin.users .custom-modal .medium-header {
  margin: 0;
}
.admin.users .table_wrapper{
  max-height: calc(100vh - 154px);
}
.admin.users .table_wrapper table {
  font-size: 12px;
  font-weight:600;
}
.admin.users .table_wrapper table thead tr td {
  font-size: 12px;
  font-weight:600;
  text-transform: uppercase;
}
.admin.users .custom-modal form {
  position: relative;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  padding: 10px;
  margin-bottom: 1rem;
}
.admin.users .custom-modal form .medium-header {
  color: var(--orange);
}
.admin.users .custom-modal form select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--gray);
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
}
.admin.users .custom-modal input[type="submit"] {
  margin-top: 1rem;
  font-size: 0.7rem;
  font-weight: 600;
}
.admin.users .custom-modal .cart-buttons {
  background: var(--pinkRed);
  border: none;
}
.admin.users .custom-modal .cart-buttons:hover {
  background: var(--green);
}
