.admin.withdrawals .table_wrapper table {
  font-size: 12px;
}
.admin.withdrawals .table_wrapper table thead tr td {
  font-size: 12px;
  text-transform: uppercase;
}
.admin.withdrawals .custom-modal{
  display:none;
}
.admin.withdrawals .custom-modal.active{
  display:flex;
}
.admin.withdrawals .custom-modal .medium-header{
  margin:0;
}