@media (min-width: 668px){
  .lower_navbar .left-icon .cart-icons{
    position:absolute;
    background:var(--white);
    right:2rem;
    top:100%;
    display:none;
    justify-content:space-between;
    z-index:99;
    box-shadow:0 0 5px rgba(0, 0, 0, 0.25);
    transition:All 0.5s;
  }
  .lower_navbar .left-icon .cart-icons.active{
    display:flex;
  }
  .lower_navbar .left-icon .cart-icons a{
    
    border:2px solid var(--gray);
    width:45px;
    height:45px;
    margin:1rem;
    display: flex;
    align-items:center;
    text-align:center;
    justify-content:center;
    transition:all 0.5s;
  }
  .lower_navbar .left-icon .cart-icons a:hover{
    background:var(--pinkRed);
    color:var(--white);
    border:2px solid var(--pinkRed);
  }

  .lower_navbar .left-icon .angle{
    display:block;
    font-size:1.4rem;
    transition:all 0.5s;
  }
  .lower_navbar .left-icon .angle.active{
    transform:rotate(-180deg);
  }
  .lower_navbar .left-icon .angle:hover{
    color:var(--blue);
    cursor:pointer;
  }
  .lower_navbar .left-icon{
    display:flex;
    align-items:center;
    transition:all 0.5s;
  }
}




























.lower_navbar .container {
  display: flex;
  justify-content: space-between;
}
.lower_navbar {
  background: var(--white);
  z-index: 99;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.fixed {
  position: fixed;
  top: 0;
  width: 100%;
}
.fixed .navigation .nav-ul a {
  color: var(--white);
}
.nav_li {
  cursor: pointer;
  transition: all 0.5s;
} 
.nav_li a{
  padding: 0.7rem 1rem;
  display:inline-flex;
}
.nav_li a:hover{
  color:var(--white);
}
.nav_li:hover {
  background: var(--green);
}
.nav_li.active{
  background:var(--green);
}
.nav_li:hover a{
  color: var(--white);
}
.profile-logo img {
  width: 45px;
}
.lower_navbar .menu-icon,
.lower_navbar .profile-logo {
  display: none;
}

.lower_navbar .navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.lower_navbar .navigation .nav-ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#close-menu {
  display:none;
}
.lower_navbar .navigation .nav-ul a {
  color: var(--blue);
}

.lower_navbar .navigation .accounts {
  display: none;
}
.lower_navbar .navigation .nav-ul p a:nth-child(2) {
  display: none;
}

.lower_navbar .navigation .nav-ul p .child_navigation {
  background: var(--white);
  position: absolute;
  top: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  left: 0;
  background: var(--white);
  border-top: 1px solid var(--green);
  width:100%;
  right:0;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.25);
  border-right:1px solid var(--gray);
  border-left:1px solid var(--gray);
  border-bottom:1px solid var(--gray);
  z-index:999;
  /*  */
  display:none;
}

.lower_navbar .navigation .sub_navigation ul p:hover {
  background: var(--green);
}
.lower_navbar .navigation .sub_navigation ul p:hover a {
  color: var(--white);
}
.lower_navbar .navigation .small-header {
  font-size: 1.1rem;
  padding-left: 10px;
}

.lower_navbar .navigation .nav-ul p .child_navigation span {
  color: var(--blue);
  display: inline;
  display: inline-flex;
  padding: 1rem;
  border: 1px solid #ccc;
  width:fit-content;
}

.lower_navbar .sub_navigation {
  width: 13rem;
}
@media (max-width: 1020px) {
  .lower_navbar .navigation .nav-ul p .child_navigation {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 778px) {
  .lower_navbar .navigation .nav-ul p .child_navigation {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 668px) {
  .lower_navbar .left-icon{
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
  }
  .lower_navbar .left-icon .angle{
    display:none;
  }
  .lower_navbar .left-icon .cart-icons a{
    display:inline-flex;
    padding:1rem;
    height:40px;
    align-items:center;
    margin-right:1rem;
    justify-content: center;
    border:2px solid var(--gray);
    transition:all 0.5s;
  }
  .lower_navbar .left-icon .cart-icons a:hover{
    border:2px solid var(--pinkRed);
    background:var(--pinkRed);
    color:var(--white)
  }
  .lower_navbar .menu-icon,
  .lower_navbar .profile-logo {
    display: block;
  }

  .lower_navbar .container {
    align-items: center;
    text-align: center;
    justify-content: space-between;
  }
  .lower_navbar .menu-icon {
    font-size: 2rem;
  }
  .lower_navbar .container {
    position: relative;
  }
  .lower_navbar .container .navigation {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: fixed;
    background: var(--white);
    width: 100%;
    top: -400%;
    height: 100vh;
    left: 0%;
    right: 0;
    transition: all 0.5s;
    z-index: 99;
  }
  .lower_navbar .container .navigation.active {
    top: 0;
  }
  .lower_navbar .navigation .nav-ul {
    display: block;
  }
  .lower_navbar .navigation .nav-ul p {
    text-align: start;
    display: flex;
    justify-content: space-between;
  }
  .lower_navbar .navigation .nav-ul p a{
    height:100%;
  }
  .lower_navbar .navigation .nav-ul p a:hover{
    text-decoration:underline;
  }
  .lower_navbar .navigation .nav-ul p a:nth-child(2) {
    margin-right: 18px;
    display: block;
  }
  .lower_navbar .navigation .nav-ul p:hover i {
    transform: translateX(15px);
  }
  .lower_navbar .navigation .nav-ul p:hover a {
    transition: all 0.5s;
    color: var(--white);
    top: -400%;
  }


    .lower_navbar .navigation .nav-ul .nav_li .angle{
    display:none;
  }

  #close-menu {
    display: block;
    background: green;
    text-align: end;
    cursor: pointer;
    color: var(--white);
    padding-right: 1rem;
    padding-right: 1rem;
    font-weight: 700;
  }
  #close-menu:hover {
    color: #ff004f;
  }
  .lower_navbar .navigation .accounts {
    display: block;
  }
  .lower_navbar .navigation .accounts p {
    background: #ccc;
    text-align: start;
    padding: 1rem 10px;
    background: var(--orange);
    margin-top: 5px;
    cursor: pointer;
    transition: all 0.5s;
  }
  .lower_navbar .navigation .accounts p a {
    color: var(--white);
  }
  .lower_navbar .navigation .accounts p:hover {
    background: var(--blue);
  }
}
