.lower_navbar .container {
  display: flex;
  justify-content: space-between;
}
.lower_navbar {
  background: var(--white);
  height: 50px;
  z-index:99;
}
.fixed {
  position: fixed;
  top:0;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.nav_li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.5s;
}
.nav_li:hover {
  background: var(--green);
}
.nav_li:hover a {
  color: var(--white);
}
.profile-logo img {
  width: 45px;
}
.lower_navbar .menu-icon,
.lower_navbar .profile-logo {
  display: none;
}

.lower_navbar .navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.lower_navbar .navigation .nav-ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#close-menu {
  display: none;
}
.lower_navbar .navigation .nav-ul a{
  color:var(--blue);
}

@media (max-width: 668px) {
  .lower_navbar .menu-icon,
  .lower_navbar .profile-logo {
    display: block;
  }
 
  .lower_navbar .container {
    align-items: center;
    text-align: center;
    justify-content: space-between;
  }
  .lower_navbar .menu-icon {
    font-size: 2rem;
  }
  .lower_navbar .container {
    position: relative;
  }
  .lower_navbar .container .navigation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    background: var(--white);
    width:100%;
    top:-400%;
    height:100vh;
    left: 0%;
    right:0;
    transition:all 0.5s;
    z-index:99;
  }
  .lower_navbar .container .navigation.active{
    top:0;
  }
  .lower_navbar .navigation .nav-ul {
    display: block;
  }
  .lower_navbar .navigation .nav-ul p {
    width: 100%;
  }
  .lower_navbar .navigation .close-icon {
    font-size: 4rem;
  }
  #close-menu {
    display: block;
  }
  #close-menu:hover {
    transform: scale(1.1);
    color: var(--green);
  }
}
