.authentication {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}
.authentication .left-arrow img {
  width: 30px;
  height: 30px;
}
.authentication .left-arrow {
  position: absolute;
  top: 2rem;
  left: 2rem;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  transition:all 0.5s;
}
.authentication .left-arrow:hover {
  box-shadow: 0 0 5px var(--darkGreen), 0 0 10px var(--darkGreen),
    0 0 20px var(--darkGreen);
}
.authentication .form-wrapper {
  max-width: 600px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  width: 100%;
  border-radius:4px;
  margin: 0 10px;
}
.form-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: var(--green);
}
.authentication .form-wrapper form {
  padding: 2rem;
  width: 100%;
  border-radius: 10px;
}
.authentication input {
  border: none;
  height: 45px;
  border-bottom: 2px solid var(--gray);
  outline: none;
  background: transparent;
}
.authentication .input-group {
  margin-bottom: 1rem;
  cursor: pointer;
  position: relative;
}
.authentication .input-group input:focus {
  border-bottom: 2px solid var(--green);
}
.authentication .input-group input[type="submit"] {
  border: none;
  background: var(--green);
  color: var(--white);
  transition: all 0.5s;
}
.authentication .input-group input[type="submit"]:hover {
  background: var(--blue);
  cursor: pointer;
}
.error-message {
  color: var(--pinkRed);
  position: absolute;
  top: 100%;
  z-index: 9;
  font-size: 0.9rem;
}
.authentication .forget-password {
  margin-top: 1.2rem;
}

@media (max-width: 498px) {
  .authentication .form-wrapper {
    max-width: 600px;
    width: 100%;
    border-radius: 10px;
    padding: 0;
    margin: 0 1rem;
    box-shadow: none;
  }

  .authentication .input-group input[type="submit"] {
    height: 40px;
  }
  .authentication .input-group input {
    height: 40px;
  }
  .authentication .form-title {
    font-size: 1.4rem;
  }
  .error-message {
    font-size: 0.85rem;
  }
  .authentication .form-wrapper form {
    padding: 0.5rem;
    width: 100%;
    border-radius: 10px;
  }
}
