.quotes{
    font-size:3rem;
    color:var(--blue)
}
.slick-slide > div {
    margin: 0 10px;
}
.testmonials .profile-image{
    width:50px;
    height:50px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    border:2px solid var(--blue);
}
.testmonials .profile-image img{
    border-radius:50%;
    height:40px;
    width:40px;
}
.testmonials .small-header{
    font-size:1rem;
}
.testmonials .medium-header{
    text-align:center;
}
.testmonials .row{
    margin-top:1rem;
    align-items:center;
}
.testmonials .row p{
    margin-left:1rem;
}
.testmonials .card-item{
    border:3px solid var(--blue);
    padding:1rem;
    cursor: pointer;
}

.testmonials .card-item .description{
    color:var(--black);
}

.testmonials-wrapper{
    padding:1rem;
    width:100%;
}

.testmonials .fa-regular{
    margin-right:1rem;
    color:var(--orange);
}


.testmonials .rating{
    align-items:center;
    justify-content:center;
    display:flex;
}

@media(max-width:670px){

    .testmonials .row:nth-child(1){

        flex-direction:row;

    }

}

@media(max-width:510px){
    .testmonials .container .medium-header{
      font-size:1.2rem;
    }
  }


  @media(max-width:408px){
    .testmonials .row{
        flex-direction: column;
        align-items:center;
        justify-content:center;
    }
    .testmonials .card-item p{
        text-align:center;
    }
    .testmonials .card-item{
        border:3px solid var(--blue);
        padding-bottom:1rem;
        padding-right:1rem;
    }
  }