.authentication {
  flex-direction: column;
}
.authentication .success-modal {

    padding:1rem;
    box-shadow:0 0  5px 4px rgba(0,0,0,0.25);
    margin-bottom:1rem;
    cursor: pointer;
    border-radius:10px;
}
.success-modal .success-message{
    font-size:0.7rem;
}

.authentication .form-wrapper .form-title{
  font-size:1.2rem;
}
.authentication .form-wrapper .input-group .button-deactivated{
  background:var(--gray);
}
.authentication .form-wrapper .input-group .button-deactivated:hover{
  background:var(--gray);
}
.authentication .form-wrapper .input-group .button-activated{
  background:var(--green);
  transition:all 0.5s;
}
.authentication .form-wrapper .input-group .button-activated:hover{
  background:var(--blue)
}
.authentication .form-wrapper .email-controller{
  color:var(--pinkRed);
}


@media(max-width:296px){
  .authentication .success-modal{
    padding:0.5rem;
  }
}