.featured{
    margin-top: 5rem;

}


.featured .container{
    box-shadow:0 0 5px rgba(0,0,0,0.25);
    padding-bottom:2rem;
}
.featured .col:nth-child(1){
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    flex-basis:46%;
}
.featured .col:nth-child(1) p{
    text-align:center;
}


.featured .col:nth-child(2){
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:start;
    flex-basis:46%;
    
}
.featured .col:nth-child(2) p{
    color:var(--black)
} 
.featured  p{
    width:100%;
}
.featured .col:nth-child(2) .small-header{
    color:var(--orange)
}
.featured .col:nth-child(2) .featured-description{
    color:var(--orange)
}
.featured .col:nth-child(2) .book-title{
    color:var(--blue)
}
.featured .col:nth-child(2) .description{
    line-height:1.5rem;
}
.featured .container .row{
   display:grid;
   grid-template-columns:1fr 1fr;
}

.featured .col:nth-child(2) .row{
    display:flex;
    margin-top:1rem;
}




.featured .img-wrapper img{
    max-width:300px;
}




@media(max-width:676px){
    .featured .img-wrapper img{
        max-width:270px;
    }
}
/* @media(max-width:610px){
    .featured .container .row{
        grid-template-columns:repeat(1,1fr);
    }
} */
@media(max-width:670px){
    .featured .img-wrapper img{
        max-width:240px;
    }
}
@media(max-width:581px){
    .featured .container .row{
        grid-template-columns:repeat(1,1fr);
    }
    .featured .col:nth-child(2){
        align-items:center;
        text-align:center;
    }
}

@media(max-width:551px){
    .featured .medium-header{
        font-size:1.3rem;
    }
  }


/* .featured .row{
    flex-direction:column;
    } */