.ebook input{
    border:none;
}
.ebook .newsLetter .input-group{
    display:flex;
}
.ebook .newsLetter .input-group{
    height:45px;
    outline:none;
    margin-bottom:3rem;
}

.ebook .newsLetter .input-group input[type=submit]{
    flex-basis:20%;
    border:none;
    height:100%;
    background:var(--green);
    color:var(--white);
    background:var( --orange);
}
.ebook .newsLetter .input-group input[type=email]{
    flex-basis:80%;
    height:100%;
    background:var(--green);
    outline:none;
    color:var(--white);
    padding:10px;
}