@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  /* font-family:'Outfit',sans-serif; */

  font-family:var(--poppins);
}
:root{
  --orange:#e8b12e;
  --blue:#2f0ad6;
  --green:#08a34e;
  --black:#000;
  --gray:#ababab;
  --white:#fff;
  --pinkRed:#ff004f;
  --poppins:'Poppins',sans-serif;
  --darkGreen:rgb(0,255,0);
}
html{
  scroll-behavior:smooth;
  overflow-x:hidden;
}
ul{
  list-style:none;
}
section{
  width:100%;
}
.container{
  max-width:1200px;
  margin:0 auto;
  width:100%;
  position: relative;
  padding:0 1rem;
}
a{
  text-decoration:none;
}
input{
  width:100%;
}
.hero-btn{
  color:var(--green);
  padding:0.5rem 3rem;
  border:2px solid var(--green);
  margin-top:1rem;
  border-radius:5px;
  cursor: pointer;
  transition:all 0.5s;
}
.hero-btn:hover{
  background: var(--green);
  color:var(--white);
}
.small-header{
  font-weight:700;
  color:var(--orange);
  font-size:1.4rem;
}
.medium-header{
  font-size:2rem;
  font-weight:700;
  color:var(--blue);
  margin:1rem 0rem;
}
.description{
  font-size:1rem;
}
.row{
  display:flex;
}
img{
  width:100%;
}
.submit-btn {
  border: none;
  background: var(--blue);
  color: var(--white);
  font-size: 1rem;
  cursor: pointer;
}
.submit-btn:hover {
  background: var(--green);
}

