.newsletter .container .subscribe {
  color: var(--blue);
}
.newsletter .container .row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap:1rem;
}
.newsLetterForm {
  display: flex;
  width: 100%;
}
.newsletter .container .row .col:nth-child(2) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.newsLetterForm input {
  flex-basis: 70%;
  border: none;
  border-bottom: 1px solid var(--green);
  outline:none;
}
.newsLetterForm{
    margin-top:1rem;
    height:40px;
}
.newsLetterForm button {
  width: 28%;
  border: none;
  background: var(--green);
  font-size:1rem;
  color:var(--white)
}
.newsLetterForm button i {
  margin-left: 1rem;
}

@media (max-width: 596px) {
  .newsletter .container .row {
    grid-template-columns: repeat(1, 1fr);
  }
  .newsletter .container .subscribe{
    font-size:1.2rem;
    text-align:center;
  }
  .newsletter .description{
    text-align:center;
    color:var(--black);
  }
}
