
.categories .container{
    background:#ccc;
    padding: 3rem 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;

}
.categories .books-categories {
  margin-top: 3rem;
}
.book-show {
  border: 4px solid var(--blue);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  background:var(--white);
}
.book-show .img-wrapper {
  width: 100%;
  overflow:hidden;
}
.book-show:hover img {
  transform: scale(2);
}

.slick-slide > div {
  margin: 0 10px;
}

.categories .container .row{
  justify-content:space-between;
  align-items:center;
}
.categories .container .row .col:nth-child(1){
  flex-basis:40%;
}
.categories .container .row .col:nth-child(2) .description{
  color:#000;
}
.categories .container .row .col:nth-child(2){
  flex-basis:53%;
}

@media (max-width: 522px) {
  .categories .container .row {
    flex-direction: column;
  }
}

@media(max-width:536px){

}